body {
	background-color: #505050; 
}

.wrapper {
	width: 1900px;
	height: 1200px; 
	border : 5px solid red; 
	margin: 0px auto;
	margin-top: 20px;
}

.header {
	width: 100%;
	height: 15%;
/*	border : 5px solid blue; */
	margin: 0px auto;
	border-radius: 25px;
	background-image: url("resources/day_of_the_42.png");	
	background-repeat: no-repeat;
	background-size: 30%;
	background-color: #909090; 
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,75)
}

.logo {
	display: inline-block;
	width: 500px;
	height: 300px;
	border : 5px solid green;
	margin: 20px auto;
}


.content {
	display: inline-block;
	width: 1900px;
	height: 900px;
/*	border : 5px solid green; */
	margin: 0px auto;
}

.left {
	float: left;
	width: 10%;
	height: 65%;
	/* border : 5px solid lime; */
	margin-top: 1%;
	margin-left: 1%;
	margin-right: 2%;
	padding-top: 1%;
	background-color: #909090; 
	border-radius: 25px;
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,75)
}
.left img {
	display: list-item;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10%;
}

.hero {
	float: left;
	display: inline-block;
	width: 72%;
	height: 85.5%;
	border : 10px solid #909090;
	border-radius: 10px;
	margin-top: 1%;
	background-color: #909090;
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,75)
}

.right {
	float: right;
	display: inline-block;
	width: 10%;
	height: 61%;
	/* border : 5px solid lime; */
	margin-top: 1%;
	margin-left: 1%;
	margin-right: 2%;
	padding-top: 1%;
	background-color: #909090; 
	border-radius: 25px;
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,75)
}

.right img {
	display: list-item;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10%;
}


.input-box {
	position: relative;
	width: 700px;
	height: 230px;
	top: -17%;
	left: -4%;	
	border : 5px solid lime; 
	/* background-color: #8CFD8E; */
	border-radius: 20px;
	
}

/*
.input-text {
	font-size: TO DEF ;
	font-family: TO DEF;  
}

*/
#entrez {
	font-size: 20px;
}

.label {
	border-top: 2px solid #9a9b9c;
	width: 80%;
}

.loupe {
	float: right;
	transform: scale(1.3);
	padding-top: 2%;
}

.icons {
	float:right;
	margin-right: 1%;
	margin-top: 1%;
}

.brick {
	width: 71%;
	height: 16%;
	background-image: url("resources/brick.jpg");
	transform: scale(1.2);
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10%;
}

#eye {
	border: 6px solid red ;
	border-radius: 6px;
}

 /*  body {background-image: url("day42.png"); } 
