
table {border-spacing: 2%;}
td {background-color: grey; padding: 10px; width: 5vw;}	
.table-title {font-size: 3vw; text-align: center}
.wrapper {height: 700px;}
.empty {background-color: white;}
.poids {font-size:0.5vw;  text-align: right;}
.num {font-size:0.5vw; text-align: left;}
.elem {font-size:1vw; text-align: center;}
.blue {background-color: aqua;}
.yellow {background-color: yellow;}
.orange {background-color: orange;}
.green {background-color: palegreen;}
.pink {background-color: pink;}
.lightred {background-color: salmon;}
.red {background-color: orangered;}
.magenta {background-color: hotpink;}
.teal {background-color: teal;}
.salmon {background-color: lightsalmon;}
.turquoise {background-color: paleturquoise;}
.legend {background-color: whitesmoke; font-size: 1vw;}
